/* applies to entire pagr */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
/*    overflow-y: hidden;*/
    
}

.flex_container{
    display: flex;
    justify-content: center;
}

/* contains the entire landing page and its layout */
.block_container{
    width: 50%;
    background-color: #25095e;
    background-image: linear-gradient(180deg, #25095e 0%, #9c1175 50%, #e4103f 100%);
    /* shadow around box */
    -webkit-box-shadow: 7px 7px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 22px 0px rgba(50, 50, 50, 0.75);
}

/* main div which holds images for page */
.main{
    position: relative;
    height: 740px;
}

/* image 1*/
.image1{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1%;
    right: 32%;
    
}

/* image 2*/
.image2{
    position: absolute;
    display: flex;
    top: 24%;
    right: 29%;
}

.image2 img{
    width: 270px;
}

/* image 3*/
.image3{
    position: absolute;
    display: flex;
    top: 30%;
    left: 13%;
}

/* image 5*/
.image5{
   position: absolute;
    display: flex;
    justify-content: flex-end;
    top :0%;
    right: -2%;
}

.image5 img{
    width: 30%;
    height: 61%;
}

/* image 4*/
.image4 img{
    position: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    animation-name: updown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 10%;
    height: 22%;
/*    margin-top: -50px;*/
}

/* added keyframes for moving lamp up and down */
@keyframes updown {
    from{margin-top: -40px; }
    to  {margin-bottom: 40px; }
}

/* image 6*/
.image6{
    position: absolute;
    display: flex;
    top: 84%;
    left: 7%;
    object-fit: contain;
}

.image6 img{
    width: 90%;
    height: 90%;
}

/* styling for h2 */
h2{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 38px;
    font-weight: 700;
    font-size: 20px;
}

/* styling for input type text and select */
input[type=text] ,select{
    width: 96%;
    border: 5px solid white;
    background-color: transparent;
    padding: 20px;
    margin: 5px 14px;
    border-radius: 7px;
}

/* changing the color of placeholder (input type text)*/
input[type=text]::placeholder{
    color: white;
    font-weight: 500;
}

/*
option::placeholder{
    color: white;
}
*/

/* styling for input type button */
input[type=button]{
    margin-left: 38.5%;
    margin-top: 2px;
    background-color: #64145a;
    border: 4px solid #d29e0a;
    color: white;
    padding: 5px 27px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 27px;
    border-radius: 7px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}

/* styling when user hover the button */
input[type=button]:hover{
    box-shadow: 0px 1px 30px 1px rgba(50, 50, 50, 0.30);
}

/* styling for p element */
p{
    color: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
    line-height: 70px;
    font-weight: 500;
    font-size: 20px;
}

/* styling ul element */
ul{
    margin-left: 28px;
    margin-top: 10px;
    color: white;
    line-height: 30px;
    font-size: 18px;
}

/* styling replaced form which contains thanking message */
#Rform{
    text-align: center;
    font-size: 23px;
    word-spacing: 1px;
    font-weight: 700;
    display: none
}

/* styling for h3 element (when form is submitted and thanking message appears) */
h3{
    margin-left: 20px;
    color: white;
}

/* footer */
.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15px 10px 30px 10px;
}

/* image container which contains images for footer */
.image-container{
    display: flex; 
    flex: 33.33%;
}

/* to include 3 images in footer */
.column1 img{
/*    flex: 33.33%;*/
    width: 219px;
}

.column2 img{
/*    flex: 33.33%;*/
    width: 219px;
}

.column3 img{
/*    flex: 33.33%;*/
    width: 219px;
}

/* //////////////responsive///////////// */
/* media queries for different screen size */

@media screen and (max-width: 1280px){
    /* candle image container */
    .image3{
        top: 30.5%;
        left: 9%;
    }
    
    /* footer image 1 */
    .column1 img{
        width: 200px;
    }
    /* footer image 2 */
    .column2 img{
        width: 200px;
    }
    /* footer image 3*/
    .column3 img{
        width: 200px;
    }
}

/* ipad pro view */
@media screen and (max-width: 1200px){
    /* increased the width by 80% when screen size is 600px */
    .block_container{
        width: 50%;
    }
    /* footer image 1 */
    .column1 img{
        width: 164px;
    }
    /* footer image 2 */
    .column2 img{
        width: 164px;
    }
    /* footer image 3*/
    .column3 img{
        width: 164px;
    }
    
    /* outlet mall logo container */
    .image1{
        left: 32%;
    }
    
    /* happy diwali image container */
    .image2{
        top: 27%;
        left: 28%;
    }
    /* happy diwali image */
    .image2 img{
        width: 230px;
    }
    /* candle image container */
    .image3{
        top: 34.9%;
        left: 9%;
    }
    /* candle image */
    .image3 img{
        width: 92%;
    }
    
    .image6{
        top: 88%;
    }
    
    ul{
        margin-left: 24px;
        margin-right: 24px;
        font-size: 17px;
    }
    
    /* styling for h2 */
    h2{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 35%;
    }
    
    /* lamp image */
    .image5 img{
        width: 25.5%;
    }
    
    .main{
        height: 620px;
    }

}

/* layout for screen of width 998px ( laptop view ) */
@media screen and (max-width: 998px){
    /* increased the width by 80% when screen size is 600px */
    .block_container{
        width: 50%;
    }
    /* footer image 1 */
    .column1 img{
        width: 155px;
    }
    /* footer image 2 */
    .column2 img{
        width: 155px;
    }
    /* footer image 3*/
    .column3 img{
        width: 155px;
    }
    /* outlet mall logo container */
    .image1{
        left: 35%;
    }
    /* happy diwali image container */
    .image2{
        top: 24%;
        left: 27%;
    }
    /* happy diwali image */
    .image2 img{
        width: 230px;
    }
    /* candle image container */
    .image3{
        top: 31.5%;
        left: 10%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
    /* moving lamp image */
    .image4 img{
        width: 12%;
        height: 24%;
    }
    /* lamp image container */
    .image5{
        right: 0;
    }
    /* lamp image */
    .image5 img{
        width: 25%;
    }
    /* shop and win gold image container */
    .image6{
        top: 87%;
    }
    /* height of the main container */
    .main{
        height: 600px;
    }
    /* styling for h2 */
    h2{
        font-size: 15px;
        margin-right: 15px;
        margin-left: 15px;
    }
    /* styling for unordered list */
    ul{
        margin-right: 8px;
    }
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 35%;
    }
    /* styling for input type text and select */
    input[type=text] ,select{
        width: 95%;
    }
}

/* laptop view */
@media screen and (max-width: 920px){
    /* footer image 1 */
    .column1 img{
        width: 125px;
    }
    /* footer image 2 */
    .column2 img{
        width: 125px;
    }
    /* footer image 3*/
    .column3 img{
        width: 125px;
    }
    /* outlet mall logo container */
    .image1{
        left: 33%;
    }
    /* outlet mall logo container */
    .image1 img{
        width: 120%;
    }
    /* happy diwali image container */
    .image2{
        top: 23%;
        left: 27%;
    }
    /* happy diwali image */
    .image2 img{
        width: 190px;
    }
    /* candle image container */
    .image3{
        top: 31.2%;
        left: 10%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
    /* moving lamp image */
    .image4 img{
        width: 12%;   
        height: 24%;
    }
    /* lamp image container */
    .image5{
        right: 0;
    }
    /* lamp image */
    .image5 img{
        width: 22%;
    }
    /* shop and win gold image container */
    .image6{
        top: 87%;
    }
    /* height of the main container */
    .main{
        height: 510px;
    }
    /* styling for h2 */
    h2{
        font-size: 16px;
        margin-right: 8px;
        margin-left: 8px;
    }
    /* styling for unordered list */
    ul{
        margin-right: 8px;
    }
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 31%;
    }
    
    /* styling for input type text and select */
    input[type=text] ,select{
        width: 94%;
    }
}

@media screen and (max-width: 775px){
    /* lamp image container */
    .image5{
        right: 0;
    }
    /* lamp image */
    .image5 img{
        width: 20%;
    }
}


/* layout for screen of width 768px (tablet , large phone view ) */
@media screen and (max-width: 768px){
    /* increased the width by 80% when screen size is 600px */
    .block_container{
        width: 80%;
    }
    /* footer image 1 */
    .column1 img{
        width: 190px;
    }
    /* footer image 2 */
    .column2 img{
        width: 190px;
    }
    /* footer image 3*/
    .column3 img{
        width: 190px;
    }
    /* outlet mall logo container */
    .image1{
        left: 35%;
    }
    /* happy diwali image container */
    .image2{
        top: 26%;
        left: 30%;
    }
    /* happy diwali image */
    .image2 img{
        width: 250px;
    }
    /* candle image container */
    .image3{
        top: 33%;
        left: 12%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
    /* moving lamp image */
    .image4 img{
        width: 12%;   
        height: 24%;
    }
    /* lamp image */
    .image5 img{
        width: 27%;
    }
    /* shop and win gold image container */
    .image6{
        top: 87%;
    }
    /* height of the main container */
    .main{
        height: 650px;
    }
    /* styling for h2 */
    h2{
        font-size: 17px;
    }
    /* styling for unordered list */
    ul{
        margin-right: 8px;
    }
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 37%;
    }
    
}

@media screen and (max-width: 700px){
    /* footer image 1 */
    .column1 img{
        width: 173px;
    }
    /* footer image 2 */
    .column2 img{
        width: 173px;
    }
    /* footer image 3*/
    .column3 img{
        width: 173px;
    }
    
    /* happy diwali image container */
    .image2{
        top: 24%;
        left: 29%;
    }
}

@media screen and (max-width: 670px){
     /* happy diwali image container */
    .image2{
        top: 24%;
        left: 28%;
    }
}

@media screen and (max-width: 620px){
    /* footer image 1 */
    .column1 img{
        width: 155px;
    }
    /* footer image 2 */
    .column2 img{
        width: 155px;
    }
    /* footer image 3*/
    .column3 img{
        width: 155px;
    }
    
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 34%;
    }
    
    /* happy diwali image container */
    .image2{
        top: 22%;
        left: 26%;
    }
    
    /* candle image container */
    .image3{
        top: 31.5%;
        left: 12%;
    }
    
    /* height of the main container */
    .main{
        height: 600px;
    }
    
    /* lamp image */
    .image5 img{
        width: 24%;
    }
    
}

@media screen and (max-width: 580px){
    /* happy diwali image container */
    .image2{
        top: 21%;
        left: 27%;
    }
    /* happy diwali image */
    .image2 img{
        width: 220px;
    }
    
    /* lamp image */
    .image5 img{
        width: 22%;
    }
    
    /* candle image container */
    .image3{
        top: 29.5%;
        left: 11.5%;
    }
    
    /* height of the main container */
    .main{
        height: 580px;
    }
    
    /* footer image 1 */
    .column1 img{
        width: 140px;
    }
    /* footer image 2 */
    .column2 img{
        width: 140px;
    }
    /* footer image 3*/
    .column3 img{
        width: 140px;
    }
    
}

@media screen and (max-width: 540px){
    /* happy diwali image container */
    .image2{
        top: 21%;
        left: 25%;
    }
    
    /* footer image 1 */
    .column1 img{
        width: 130px;
    }
    /* footer image 2 */
    .column2 img{
        width: 130px;
    }
    /* footer image 3*/
    .column3 img{
        width: 130px;
    }
}

@media screen and (max-width: 520px){
    /* happy diwali image container */
    .image2{
        left: 23.4%;
    }
    
    /* lamp image */
    .image5 img{
        width: 21%;
    }
}

/* layout for screen of width 500px ( Mobile phone view ) */
@media screen and (max-width: 500px){
    /* increased the width by 80% when screen size is 600px */
    .block_container{
        width: 100%;
        box-shadow: none;
    }
    /* footer image 1 */
    .column1 img{
        width: 155px;
    }
    /* footer image 2 */
    .column2 img{
        width: 155px;
    }
    /* footer image 3*/
    .column3 img{
        width: 155px;
    }
    /* outlet mall logo container */
    .image1{
        left: 35%;
    }
    /* happy diwali image container */
    .image2{
        top: 24%;
        left: 27%;
    }
    /* happy diwali image */
    .image2 img{
        width: 230px;
    }
    /* candle image container */
    .image3{
        top: 31.5%;
        left: 10%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
    /* moving lamp image */
    .image4 img{
        width: 12%;   
        height: 24%;
    }
    /* lamp image container */
    .image5{
        right: 0;
    }
    /* lamp image */
    .image5 img{
        width: 25%;
    }
    /* shop and win gold image container */
    .image6{
        top: 87%;
    }
    /* height of the main container */
    .main{
        height: 600px;
    }
    /* styling for h2 */
    h2{
        font-size: 15px;
        margin-right: 10px;
        margin-left: 10px;
    }
    /* styling for unordered list */
    ul{
        margin-right: 8px;
    }
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 34%;
    }
}

/* nexus 5x , pixel 2 , pixel 2 xl and iphone 6/7/8 plus */
@media screen and (max-width : 414px){
     /* footer image 1 */
    .column1 img{
        width: 128px;
    }
    /* footer image 2 */
    .column2 img{
        width: 128px;
    }
    /* footer image 3*/
    .column3 img{
        width: 128px;
    }
     /* happy diwali image container */
    .image2{
        top: 24%;
        left: 27%;
    }
    /* happy diwali image */
    .image2 img{
        width: 200px;
    }
    /* candle image container */
    .image3{
        top: 34%;
        left: 11.5%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
}

/* layout for screen of width 370px ( Mobile phone view ) */
@media screen and (max-width: 370px){
    /* increased the width by 80% when screen size is 600px */
    .block_container{
        width: 100%;
        box-shadow: none;
    }
    /* footer image 1 */
    .column1 img{
        width: 123px;
    }
    /* footer image 2 */
    .column2 img{
        width: 123px;
    }
    /* footer image 3*/
    .column3 img{
        width: 123px;
    }
    /* outlet mall logo container */
    .image1{
        left: 35%;
    }
    /* happy diwali image container */
    .image2{
        top: 22%;
        left: 25%;
    }
    /* happy diwali image */
    .image2 img{
        width: 200px;
    }
    /* candle image container */
    .image3{
        top: 32.5%;
        left: 13%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
    /* moving lamp image */
    .image4 img{
        width: 12%;   
        height: 24%;
    }
    /* lamp image container */
    .image5{
        right: -10;
    }
    /* lamp image */
    .image5 img{
        width: 20%;
    }
    /* shop and win gold image container */
    .image6{
        top: 87%;
    }
    /* height of the main container */
    .main{
        height: 450px;
    }
    /* styling for h2 */
    h2{
        font-size: 15px;
        margin-right: 10px;
        margin-left: 10px;
    }
    /* styling for unordered list */
    ul{
        margin-right: 8px;
    }
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 34%;
    }
}


/* iphone 6/7/8 and X */
@media screen and (width: 375px){
    /* footer image 1 */
    .column1 img{
        width: 122px;
    }
    /* footer image 2 */
    .column2 img{
        width: 122px;
    }
    /* footer image 3*/
    .column3 img{
        width: 122px;
    }
     /* happy diwali image container */
    .image2{
        top: 23%;
        left: 28.4%;
    }
    /* happy diwali image */
    .image2 img{
        width: 165px;
    }
    /* candle image container */
    .image3{
        top: 30.5%;
        left: 9.5%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
}

/* iphone 5s/e */
@media screen and (width: 320px){
    /* footer image 1 */
    .column1 img{
        width: 105px;
    }
    /* footer image 2 */
    .column2 img{
        width: 105px;
    }
    /* footer image 3*/
    .column3 img{
        width: 105px;
    }
     /* happy diwali image container */
    .image2{
        top: 20%;
        left: 25%;
    }
    /* happy diwali image */
    .image2 img{
        width: 165px;
    }
    /* candle image container */
    .image3{
        top: 28.5%;
        left: 10%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
}

/* samsung galaxy fold */
@media screen and (width: 280px){
    /* footer image 1 */
    .column1 img{
        width: 90px;
    }
    /* footer image 2 */
    .column2 img{
        width: 90px;
    }
    /* footer image 3*/
    .column3 img{
        width: 90px;
    }
     /* happy diwali image container */
    .image2{
        top: 21%;
        left: 28.1%;
    }
    /* happy diwali image */
    .image2 img{
        width: 135px;
    }
    /* candle image container */
    .image3{
        top: 29.5%;
        left: 12.8%;
    }
    /* candle image */
    .image3 img{
        width: 90%;
    }
    /* height of the main container */
    .main{
        height: 370px;
    }
    
    /* lamp image container */
    .image5{
        right: 0;
    }
    /* lamp image */
    .image5 img{
        width: 17.5%;
    }
    
    /* styling for button when screen is of width 600px */
    input[type=button]{
        margin-left: 26.8%;
        font-size: 20px;
    }
    
    /* styling for input type text and select */
    input[type=text] ,select{
        width: 90%;
    }
}


