/* applies to entire pagr */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
/*    overflow-y: hidden;*/
    
}

.flex_container{
    display: flex;
    justify-content: center;
}

/* contains the entire landing page and its layout */
.block_container{
    width: 50%;
    background-color: #25095e;
    background-image: linear-gradient(180deg, #25095e 0%, #9c1175 50%, #e4103f 100%);
    /* shadow around box */
    -webkit-box-shadow: 7px 7px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 22px 0px rgba(50, 50, 50, 0.75);
}

/* main div which holds images for page */
.main{
    position: relative;
    height: 740px;
}

/* image 1*/
.image1{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1%;
    right: 32%;
    
}

/* image 2*/
.image2{
    position: absolute;
    display: flex;
    top: 24%;
    right: 29%;
}

.image2 img{
    width: 270px;
}

/* image 3*/
.image3{
    position: absolute;
    display: flex;
    top: 30%;
    left: 13%;
}

/* image 5*/
.image5{
   position: absolute;
    display: flex;
    justify-content: flex-end;
    top :0%;
    right: -2%;
}

.image5 img{
    width: 30%;
    height: 61%;
}

/* image 4*/
.image4 img{
    position: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    animation-name: updown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 10%;
    height: 22%;
/*    margin-top: -50px;*/
}

/* added keyframes for moving lamp up and down */
@keyframes updown {
    from{margin-top: -40px; }
    to  {margin-bottom: 40px; }
}

/* image 6*/
.image6{
    position: absolute;
    display: flex;
    top: 84%;
    left: 7%;
    object-fit: contain;
}

.image6 img{
    width: 90%;
    height: 90%;
}

/* styling for h2 */
h2{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 38px;
    font-weight: 700;
    font-size: 20px;
}

/* styling for input type text and select */
input[type=text] ,select{
    width: 96%;
    border: 5px solid white;
    background-color: transparent;
    padding: 20px;
    margin: 5px 14px;
    border-radius: 7px;
}

/* changing the color of placeholder (input type text)*/
input[type=text]::placeholder{
    color: white;
    font-weight: 500;
}

/*
option::placeholder{
    color: white;
}
*/

/* styling for input type button */
input[type=button]{
    margin-left: 38.5%;
    margin-top: 2px;
    background-color: #64145a;
    border: 4px solid #d29e0a;
    color: white;
    padding: 5px 27px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 27px;
    border-radius: 7px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}

/* styling when user hover the button */
input[type=button]:hover{
    box-shadow: 0px 1px 30px 1px rgba(50, 50, 50, 0.30);
}

/* styling for p element */
p{
    color: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
    line-height: 70px;
    font-weight: 500;
    font-size: 20px;
}

/* styling ul element */
ul{
    margin-left: 28px;
    margin-top: 10px;
    color: white;
    line-height: 30px;
    font-size: 18px;
}

/* styling replaced form which contains thanking message */
#Rform{
    text-align: center;
    font-size: 23px;
    word-spacing: 1px;
    font-weight: 700;
    display: none
}

/* styling for h3 element (when form is submitted and thanking message appears) */
h3{
    margin-left: 20px;
    color: white;
}

/* footer */
.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15px 10px 30px 10px;
}

/* image container which contains images for footer */
.image-container{
    display: flex; 
}

/* to include 3 images in footer */
.column{
    flex: 33.33%;
}

/* media queries for different screen size */
/*
@media screen and (max-width: 600px){
    .block_container{
        width: 100%;
    }
    
    li{
        color: maroon;
    }
}
*/









